# Exploring German eBay Car Sales Data

In this guided project, I'll work with a dataset of used cars from the classifieds section of the German eBay website. The data is downloaded from Kaggle

### Load Libraries

In [2]:
import pandas as pd
import numpy as np

### Load data

In [3]:
autos = pd.read_csv("autos.csv", encoding = "Latin-1")

In [9]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

### Exploring Data

The data contains 50,000 rows and 20 columns and offers information about the virtual transaction and the car. A sample of the first 5 rows of the data is shown below

In [10]:
autos.head(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [61]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,...,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen,odometer_km
count,38264,38264,38264,38264,38264.000000,38264,35696,38264.000000,36402,38264.000000,...,38264,38264.000000,35201,38264,30552,38264,38264.0,38264.000000,38264,38264.000000
unique,37218,29616,2,2,NaN,2,8,NaN,2,NaN,...,4,NaN,7,40,2,66,NaN,NaN,32196,NaN
top,2016-03-23 18:39:34,BMW_316i,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,...,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27,NaN
freq,3,73,38263,38263,NaN,19702,10532,NaN,29450,NaN,...,30306,NaN,23043,8457,26219,1484,NaN,NaN,8,NaN
mean,NaN,NaN,NaN,NaN,3593.137388,NaN,NaN,2001.845050,NaN,110.672042,...,NaN,5.744616,NaN,NaN,NaN,NaN,0.0,50529.217019,NaN,142240.487142
std,NaN,NaN,NaN,NaN,3558.712455,NaN,NaN,6.103401,NaN,179.441617,...,NaN,3.724984,NaN,NaN,NaN,NaN,0.0,25631.569680,NaN,16590.527925
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1910.000000,NaN,0.000000,...,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN,90000.000000
25%,NaN,NaN,NaN,NaN,999.000000,NaN,NaN,1998.000000,NaN,69.000000,...,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30165.000000,NaN,150000.000000
50%,NaN,NaN,NaN,NaN,2300.000000,NaN,NaN,2002.000000,NaN,105.000000,...,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49201.000000,NaN,150000.000000
75%,NaN,NaN,NaN,NaN,5000.000000,NaN,NaN,2006.000000,NaN,143.000000,...,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71063.000000,NaN,150000.000000
max,NaN,NaN,NaN,NaN,16350.000000,NaN,NaN,2016.000000,NaN,17700.000000,...,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN,150000.000000

### Cleaning Data

The next block of code will convert the column names from camelcase to snakecase to match Python's preferred format. Additionally, some of the column names will be reworded to be more descriptive.

In [4]:
autos.rename(columns = {'yearOfRegistration' : 'registration_year', 
                       'monthOfRegistration' : 'registration_month',
                       'notRepairedDamage' : 'unrepaired_damage',
                       'dateCreated' : 'ad_created',
                       'dateCrawled' : 'date_crawled',
                       'offerType': 'offer_type',
                       'vehicleType' : 'vehicle_type',
                       'fuelType' : 'fuel_type',
                       'nrOfPictures' : 'nr_of_pictures',
                       'postalCode' : 'postal_code',
                       'lastSeen': 'last_seen'},
            inplace = True)

Because seller and offer_type have one value in all but one case, those columns will be dropped. 

Registration year needs more investigation. The minimum year is 1000 and the maximum is 9999, so there must be errors. Price and odometer appear to be stored as text due to the unit that follows the number, however both should be converted to numeric for analysis.

In [5]:
autos['price'] = autos['price'].str.replace('$', '').str.replace(',', '').astype('float')

In [6]:
autos['odometer_km'] = autos['odometer'].str.replace('km', '').str.replace(',' , '').astype('float')

Next, any values that look unrealistically high or low will be removed. This collection of functions will assist in describing the data's tendencies

In [7]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [28]:
autos['price'].value_counts().sort_index(ascending = True)

0.0           1421
1.0            156
2.0              3
3.0              1
5.0              2
8.0              1
9.0              1
10.0             7
11.0             2
12.0             3
13.0             2
14.0             1
15.0             2
17.0             3
18.0             1
20.0             4
25.0             5
29.0             1
30.0             7
35.0             1
40.0             6
45.0             4
47.0             1
49.0             4
50.0            49
55.0             2
59.0             1
60.0             9
65.0             5
66.0             1
              ...
151990.0         1
155000.0         1
163500.0         1
163991.0         1
169000.0         1
169999.0         1
175000.0         1
180000.0         1
190000.0         1
194000.0         1
197000.0         1
198000.0         1
220000.0         1
250000.0         1
259000.0         1
265000.0         1
295000.0         1
299000.0         1
345000.0         1
350000.0         1
999990.0         1
999999.0         2
1234566.0        1
1300000.0        1
3890000.0        1
10000000.0       1
11111111.0       2
12345678.0       3
27322222.0       1
99999999.0       1
Name: price, Length: 2357, dtype: int64

In [30]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [31]:
autos['odometer_km'].value_counts().sort_index(ascending = True)

5000.0        967
10000.0       264
20000.0       784
30000.0       789
40000.0       819
50000.0      1027
60000.0      1164
70000.0      1230
80000.0      1436
90000.0      1757
100000.0     2169
125000.0     5170
150000.0    32424
Name: odometer_km, dtype: int64

The Interquartile Rule wil be used to mathmatically find any outliers. The IQR states that any number greater or less than (1.5 * the interquartile range) is a suspected outlier. 

This function will help find 1.5 * the interquartile range

In [8]:
def iqr (Q1, Q3):
    number = 1.5 * (Q3 - Q1)
    print('Any number greater than', number + Q3, 
          'could be an outlier and can be removed and any number less than', 
         Q1 - number, 'could be an outlier and can be removed')

Based on the data found using the method series.describe(), for the price column:

In [9]:
iqr(1100.0, 7200.0)

Any number greater than 16350.0 could be an outlier and can be removed and any number less than -8050.0 could be an outlier and can be removed

In [10]:
autos = autos[autos['price'].between(-8050.0, 16350)]

And for the odometer column:

In [11]:
iqr(125000, 150000)

Any number greater than 187500.0 could be an outlier and can be removed and any number less than 87500.0 could be an outlier and can be removed

In [8]:
autos = autos[autos['odometer_km'].between(87500, 187500)]

In [9]:
autos['date_crawled'].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2016-03-05    0.024639
2016-03-06    0.014090
2016-03-07    0.036199
2016-03-08    0.034128
2016-03-09    0.033911
2016-03-10    0.032177
2016-03-11    0.032201
2016-03-12    0.037042
2016-03-13    0.014981
2016-03-14    0.036850
2016-03-15    0.033960
2016-03-16    0.029528
2016-03-17    0.031961
2016-03-18    0.013247
2016-03-19    0.033863
2016-03-20    0.037620
2016-03-21    0.037572
2016-03-22    0.032828
2016-03-23    0.032539
2016-03-24    0.028926
2016-03-25    0.032394
2016-03-26    0.032322
2016-03-27    0.031214
2016-03-28    0.034706
2016-03-29    0.033839
2016-03-30    0.033815
2016-03-31    0.032009
2016-04-01    0.033454
2016-04-02    0.034995
2016-04-03    0.038102
2016-04-04    0.036729
2016-04-05    0.013512
2016-04-06    0.003444
2016-04-07    0.001204
Name: date_crawled, dtype: float64

Using value counts, we can tell that the crawl dates, or when the data was scraped from the website, are pretty evenly distributed between March 3, 2016 and April 7, 2016.

In [10]:
autos['ad_created'].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2015-12-05    0.000024
2015-12-30    0.000024
2016-01-03    0.000024
2016-01-07    0.000024
2016-01-10    0.000048
2016-01-13    0.000024
2016-01-14    0.000024
2016-01-16    0.000024
2016-01-22    0.000024
2016-01-27    0.000048
2016-01-29    0.000024
2016-02-01    0.000024
2016-02-02    0.000048
2016-02-05    0.000048
2016-02-08    0.000024
2016-02-09    0.000024
2016-02-11    0.000024
2016-02-12    0.000072
2016-02-14    0.000024
2016-02-16    0.000024
2016-02-18    0.000048
2016-02-19    0.000024
2016-02-20    0.000048
2016-02-21    0.000072
2016-02-22    0.000024
2016-02-23    0.000024
2016-02-24    0.000048
2016-02-25    0.000048
2016-02-26    0.000024
2016-02-27    0.000120
                ...
2016-03-09    0.033719
2016-03-10    0.032009
2016-03-11    0.032539
2016-03-12    0.036850
2016-03-13    0.016498
2016-03-14    0.035236
2016-03-15    0.033743
2016-03-16    0.029986
2016-03-17    0.031696
2016-03-18    0.013945
2016-03-19    0.032876
2016-03-20    0.037596
2016-03-21    0.037717
2016-03-22    0.032876
2016-03-23    0.032370
2016-03-24    0.028829
2016-03-25    0.032563
2016-03-26    0.032274
2016-03-27    0.031142
2016-03-28    0.034658
2016-03-29    0.033984
2016-03-30    0.033598
2016-03-31    0.032009
2016-04-01    0.033526
2016-04-02    0.034586
2016-04-03    0.038367
2016-04-04    0.037283
2016-04-05    0.012115
2016-04-06    0.003468
2016-04-07    0.001108
Name: ad_created, Length: 70, dtype: float64

The dates an ad was posted varies considerably more. The oldest posting is from December, 2015 while the most recent is from April.

In [11]:
autos['last_seen'].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2016-03-05    0.001084
2016-03-06    0.004697
2016-03-07    0.005829
2016-03-08    0.008333
2016-03-09    0.010356
2016-03-10    0.011079
2016-03-11    0.013463
2016-03-12    0.025072
2016-03-13    0.009369
2016-03-14    0.013223
2016-03-15    0.016305
2016-03-16    0.017100
2016-03-17    0.029359
2016-03-18    0.007346
2016-03-19    0.016522
2016-03-20    0.021821
2016-03-21    0.021580
2016-03-22    0.022110
2016-03-23    0.019147
2016-03-24    0.020520
2016-03-25    0.020087
2016-03-26    0.017389
2016-03-27    0.016618
2016-03-28    0.021821
2016-03-29    0.022856
2016-03-30    0.024880
2016-03-31    0.024422
2016-04-01    0.023988
2016-04-02    0.025530
2016-04-03    0.025506
2016-04-04    0.024904
2016-04-05    0.119701
2016-04-06    0.212620
2016-04-07    0.125361
Name: last_seen, dtype: float64

The last seen column has more dates in common. A pluarlity of postings had been viewed in the most recent days before the website was scraped. A very small number of postings have not been viewed since March, a month before the data was scraped

In [12]:
autos['registration_year'].describe()

count    41520.000000
mean      2002.820111
std         35.023528
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2007.000000
max       9000.000000
Name: registration_year, dtype: float64

Based on the range of the registration year, there might be an error in the data. Any car with a registration year above 2016 is definitely inaccurate, but it is more difficult to determine the minimum year. For this analysis, the cutoff will be 1900. The value counts show how many cars will be removed.

In [13]:
autos['registration_year'].value_counts(normalize = True).sort_index(ascending = True)

1910    0.000048
1934    0.000024
1937    0.000024
1943    0.000024
1950    0.000024
1953    0.000024
1954    0.000048
1955    0.000024
1956    0.000048
1957    0.000024
1958    0.000048
1959    0.000072
1960    0.000409
1961    0.000072
1962    0.000024
1963    0.000120
1964    0.000072
1965    0.000217
1966    0.000337
1967    0.000313
1968    0.000313
1969    0.000217
1970    0.000409
1971    0.000169
1972    0.000506
1973    0.000458
1974    0.000313
1975    0.000217
1976    0.000434
1977    0.000361
          ...
1991    0.007852
1992    0.008526
1993    0.010019
1994    0.014716
1995    0.028829
1996    0.032852
1997    0.046893
1998    0.055877
1999    0.068882
2000    0.075193
2001    0.061826
2002    0.057755
2003    0.062042
2004    0.061777
2005    0.066113
2006    0.058550
2007    0.048459
2008    0.043931
2009    0.035405
2010    0.023555
2011    0.018618
2012    0.009345
2013    0.002408
2014    0.000361
2015    0.000120
2016    0.027794
2017    0.031142
2018    0.010332
2019    0.000048
9000    0.000024
Name: registration_year, Length: 73, dtype: float64

In [14]:
autos = autos[autos['registration_year'].between(1900, 2016)]

### Analyzing Data

In [16]:
autos['brand'].value_counts()

volkswagen        8895
opel              4726
bmw               4430
mercedes_benz     3725
audi              3337
ford              2826
renault           2076
peugeot           1233
fiat              1012
seat               753
mazda              630
nissan             588
skoda              556
citroen            550
toyota             463
smart              447
volvo              407
mitsubishi         339
hyundai            322
honda              320
alfa_romeo         287
sonstige_autos     258
kia                249
mini               219
suzuki             207
chrysler           160
chevrolet          160
daihatsu           100
subaru              85
jeep                84
saab                76
porsche             70
daewoo              63
dacia               62
rover               62
land_rover          54
jaguar              53
lancia              47
trabant             18
lada                15
Name: brand, dtype: int64

The most common brand is Volkswagen, followed by Opel and 38 other unique brands. The next chunk of code will display the mean price of cars by brand

In [26]:
mean_price_brand = {}

for brand in autos['brand'].unique():
    selected_rows = autos[autos["brand"] == brand]
    mean_rows = selected_rows['price'].mean()
    mean_price_brand[brand] = mean_rows

print(mean_price_brand)

{'bmw': 5294.361625282167, 'lada': 1832.4666666666667, 'hyundai': 3590.7795031055903, 'volvo': 3572.5921375921375, 'chevrolet': 4441.3375, 'citroen': 2787.5854545454545, 'nissan': 3025.9608843537417, 'rover': 1113.274193548387, 'mercedes_benz': 4923.370738255034, 'alfa_romeo': 2971.9303135888504, 'skoda': 4729.591726618705, 'peugeot': 2341.384428223844, 'sonstige_autos': 4483.410852713178, 'kia': 3504.626506024096, 'porsche': 9654.971428571429, 'mini': 6704.913242009133, 'lancia': 1793.6170212765958, 'seat': 2878.7317397078355, 'jeep': 6848.75, 'dacia': 3851.1129032258063, 'jaguar': 5628.264150943396, 'chrysler': 2744.2, 'subaru': 2724.0, 'audi': 5176.009889121966, 'ford': 2392.511677282378, 'opel': 2160.003173931443, 'honda': 2711.159375, 'smart': 2443.4854586129754, 'trabant': 1052.7222222222222, 'volkswagen': 3557.2947723440134, 'land_rover': 6315.2962962962965, 'mitsubishi': 2324.238938053097, 'suzuki': 2937.6280193236717, 'daewoo': 973.8095238095239, 'mazda': 2785.6746031746034, 'toyota': 3907.047516198704, 'saab': 2810.4868421052633, 'fiat': 1906.3418972332015, 'daihatsu': 1367.01, 'renault': 1742.8015414258189}

Average milage for each brand can be calculated using the same method

In [28]:
mean_milage_brand = {}

for brand in autos['brand'].unique():
    selected_rows = autos[autos["brand"] == brand]
    mean_rows = selected_rows['odometer_km'].mean()
    mean_milage_brand[brand] = mean_rows

In order to analyze the aggregate data in a clean way, the dictionaries will be converted to series objects using the series constructor

In [31]:
brand_price_series = pd.Series(mean_price_brand)
print(brand_price_series)

alfa_romeo        2971.930314
audi              5176.009889
bmw               5294.361625
chevrolet         4441.337500
chrysler          2744.200000
citroen           2787.585455
dacia             3851.112903
daewoo             973.809524
daihatsu          1367.010000
fiat              1906.341897
ford              2392.511677
honda             2711.159375
hyundai           3590.779503
jaguar            5628.264151
jeep              6848.750000
kia               3504.626506
lada              1832.466667
lancia            1793.617021
land_rover        6315.296296
mazda             2785.674603
mercedes_benz     4923.370738
mini              6704.913242
mitsubishi        2324.238938
nissan            3025.960884
opel              2160.003174
peugeot           2341.384428
porsche           9654.971429
renault           1742.801541
rover             1113.274194
saab              2810.486842
seat              2878.731740
skoda             4729.591727
smart             2443.485459
sonstige_autos    4483.410853
subaru            2724.000000
suzuki            2937.628019
toyota            3907.047516
trabant           1052.722222
volkswagen        3557.294772
volvo             3572.592138
dtype: float64

In [32]:
brand_milage = pd.Series(mean_milage_brand)
print(brand_milage)

alfa_romeo        142456.445993
audi              145981.420438
bmw               144900.677201
chevrolet         134656.250000
chrysler          143625.000000
citroen           137845.454545
dacia             129193.548387
daewoo            137063.492063
daihatsu          134900.000000
fiat              137060.276680
ford              140737.791932
honda             140687.500000
hyundai           135155.279503
jaguar            141415.094340
jeep              145297.619048
kia               138273.092369
lada              117333.333333
lancia            137127.659574
land_rover        147037.037037
mazda             140944.444444
mercedes_benz     145045.637584
mini              125525.114155
mitsubishi        141681.415929
nissan            137857.142857
opel              142155.099450
peugeot           140458.231955
porsche           137285.714286
renault           141026.011561
rover             144354.838710
saab              148552.631579
seat              139853.917663
skoda             136780.575540
smart             127975.391499
sonstige_autos    136589.147287
subaru            143588.235294
suzuki            132826.086957
toyota            136954.643629
trabant           120555.555556
volkswagen        143744.238336
volvo             146670.761671
dtype: float64

### Analysis

Are cars with damage cheaper than their don-damaged counterparts?

Describe helps understand the breakdown of the data

In [39]:
autos['unrepaired_damage'].describe()

count     31530
unique        2
top        nein
freq      27054
Name: unrepaired_damage, dtype: object

Descriptive statistics will help answer the question after filtering (using boolian indexing) for damaged or not

In [40]:
damage_bool = autos['unrepaired_damage'] == 'ja'

In [49]:
mean_price_damage = autos[damage_bool].mean()
print(mean_price_damage)

price                   1753.422475
registration_year       2001.288651
powerPS                  105.908847
registration_month         5.374665
nr_of_pictures             0.000000
postal_code            50548.824397
odometer_km           144292.895442
dtype: float64

In [17]:
df_by_damage = autos.groupby("unrepaired_damage")
df_by_damage["price"].mean()

unrepaired_damage
ja      2091.267677
nein    6143.129344
Name: price, dtype: float64

On average, cars without damage are listed for a higher price